[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
dotnet_diagnostic.SA1600.severity=error
dotnet_diagnostic.SA1601.severity=error
dotnet_diagnostic.SA1200.severity=silent
dotnet_diagnostic.SA1628.severity=error
dotnet_diagnostic.SA1629.severity=error
dotnet_diagnostic.SA1643.severity=silent
dotnet_diagnostic.SA1642.severity=silent
dotnet_diagnostic.SA1300.severity=error
dotnet_diagnostic.SA1508.severity=error
dotnet_diagnostic.SA1513.severity=error
dotnet_diagnostic.SA1602.severity=error
dotnet_diagnostic.SA1603.severity=error
dotnet_diagnostic.SA1604.severity=error
dotnet_diagnostic.SA1605.severity=error
dotnet_diagnostic.SA1606.severity=error
dotnet_diagnostic.SA1607.severity=error
dotnet_diagnostic.SA1608.severity=error
dotnet_diagnostic.SA1609.severity=silent
dotnet_diagnostic.SA1610.severity=silent
dotnet_diagnostic.SA1611.severity=error
dotnet_diagnostic.SA1612.severity=error
dotnet_diagnostic.SA1613.severity=error
dotnet_diagnostic.SA1615.severity=error
dotnet_diagnostic.SA1616.severity=error
dotnet_diagnostic.SA1617.severity=error
dotnet_diagnostic.SA1618.severity=error
dotnet_diagnostic.SA1619.severity=error
dotnet_diagnostic.SA1620.severity=error
dotnet_diagnostic.SA1621.severity=error
dotnet_diagnostic.SA1622.severity=error
dotnet_diagnostic.SA1624.severity=error
dotnet_diagnostic.SA1625.severity=error
dotnet_diagnostic.SA1626.severity=error
dotnet_diagnostic.SA1627.severity=error
dotnet_diagnostic.SA1630.severity=silent
dotnet_diagnostic.SA1631.severity=silent
dotnet_diagnostic.SA1632.severity=silent
dotnet_diagnostic.SA1639.severity=suggestion
dotnet_diagnostic.SA1644.severity=error
dotnet_diagnostic.SA1645.severity=error
dotnet_diagnostic.SA1646.severity=error
dotnet_diagnostic.SA1647.severity=error
dotnet_diagnostic.SA1648.severity=error
dotnet_diagnostic.SA1650.severity=silent
dotnet_diagnostic.SA1651.severity=warning
dotnet_diagnostic.SA1500.severity=error
dotnet_diagnostic.SA1501.severity=error
dotnet_diagnostic.SA1502.severity=error
dotnet_diagnostic.SA1503.severity=error
dotnet_diagnostic.SA1504.severity=error
dotnet_diagnostic.SA1507.severity=error
dotnet_diagnostic.SA1505.severity=error
dotnet_diagnostic.SA1506.severity=error
dotnet_diagnostic.SA1509.severity=error
dotnet_diagnostic.SA1510.severity=error
dotnet_diagnostic.SA1511.severity=error
dotnet_diagnostic.SA1512.severity=error
dotnet_diagnostic.SA1514.severity=error
dotnet_diagnostic.SA1515.severity=error
dotnet_diagnostic.SA1516.severity=error
dotnet_diagnostic.SA1517.severity=error
dotnet_diagnostic.SA1518.severity=error
dotnet_diagnostic.SA1519.severity=warning
dotnet_diagnostic.SA1520.severity=warning
dotnet_diagnostic.SA1400.severity=error
dotnet_diagnostic.SA1401.severity=error
dotnet_diagnostic.SA1402.severity=error
dotnet_diagnostic.SA1403.severity=error
dotnet_diagnostic.SA1404.severity=error
dotnet_diagnostic.SA1405.severity=error
dotnet_diagnostic.SA1406.severity=error
dotnet_diagnostic.SA1407.severity=error
dotnet_diagnostic.SA1408.severity=error
dotnet_diagnostic.SA1410.severity=error
dotnet_diagnostic.SA1411.severity=error
dotnet_diagnostic.SA1413.severity=warning
dotnet_diagnostic.SA1301.severity=error
dotnet_diagnostic.SA1302.severity=error
dotnet_diagnostic.SA1303.severity=error
dotnet_diagnostic.SA1304.severity=error
dotnet_diagnostic.SA1305.severity=error
dotnet_diagnostic.SA1306.severity=error
dotnet_diagnostic.SA1307.severity=error
dotnet_diagnostic.SA1308.severity=error
dotnet_diagnostic.SA1309.severity=error
dotnet_diagnostic.SA1310.severity=error
dotnet_diagnostic.SA1311.severity=error
dotnet_diagnostic.SA1312.severity=error
dotnet_diagnostic.SA1313.severity=error
dotnet_diagnostic.SA1314.severity=error
dotnet_diagnostic.SA1316.severity=error
dotnet_diagnostic.SX1309S.severity=silent
dotnet_diagnostic.SA1201.severity=error
dotnet_diagnostic.SA1202.severity=error
dotnet_diagnostic.SA1203.severity=error
dotnet_diagnostic.SA1204.severity=error
dotnet_diagnostic.SA1205.severity=warning
dotnet_diagnostic.SA1206.severity=error
dotnet_diagnostic.SA1207.severity=error
dotnet_diagnostic.SA1208.severity=error
dotnet_diagnostic.SA1209.severity=error
dotnet_diagnostic.SA1210.severity=error
dotnet_diagnostic.SA1211.severity=error
dotnet_diagnostic.SA1212.severity=error
dotnet_diagnostic.SA1213.severity=error
dotnet_diagnostic.SA1214.severity=error
dotnet_diagnostic.SA1216.severity=error
dotnet_diagnostic.SA1217.severity=warning
dotnet_diagnostic.SA1120.severity=error
dotnet_diagnostic.SA1100.severity=silent
dotnet_diagnostic.SA1126.severity=error
dotnet_diagnostic.SA1110.severity=error
dotnet_diagnostic.SA1111.severity=error
dotnet_diagnostic.SA1113.severity=error
dotnet_diagnostic.SA1112.severity=error
dotnet_diagnostic.SA1114.severity=error
dotnet_diagnostic.SA1115.severity=error
dotnet_diagnostic.SA1116.severity=error
dotnet_diagnostic.SA1117.severity=error
dotnet_diagnostic.SA1118.severity=error
dotnet_diagnostic.SA1102.severity=error
dotnet_diagnostic.SA1103.severity=error
dotnet_diagnostic.SA1104.severity=error
dotnet_diagnostic.SA1105.severity=error
dotnet_diagnostic.SA1123.severity=error
dotnet_diagnostic.SA1106.severity=error
dotnet_diagnostic.SA1107.severity=error
dotnet_diagnostic.SA1108.severity=error
dotnet_diagnostic.SA1109.severity=error
dotnet_diagnostic.SA1131.severity=error
dotnet_diagnostic.SA1122.severity=error
dotnet_diagnostic.SA1121.severity=error
dotnet_diagnostic.SA1125.severity=error
dotnet_diagnostic.SA1000.severity=error
dotnet_diagnostic.SA1001.severity=error
dotnet_diagnostic.SA1002.severity=error
dotnet_diagnostic.SA1003.severity=error
dotnet_diagnostic.SA1004.severity=error
dotnet_diagnostic.SA1005.severity=error
dotnet_diagnostic.SA1006.severity=error
dotnet_diagnostic.SA1007.severity=error
dotnet_diagnostic.SA1008.severity=error
dotnet_diagnostic.SA1009.severity=error
dotnet_diagnostic.SA1011.severity=error
dotnet_diagnostic.SA1010.severity=error
dotnet_diagnostic.SA1012.severity=error
dotnet_diagnostic.SA1013.severity=error
dotnet_diagnostic.SA1014.severity=error
dotnet_diagnostic.SA1015.severity=error
dotnet_diagnostic.SA1016.severity=error
dotnet_diagnostic.SA1017.severity=error
dotnet_diagnostic.SA1018.severity=error
dotnet_diagnostic.SA1019.severity=error
dotnet_diagnostic.SA1020.severity=error
dotnet_diagnostic.SA1021.severity=error
dotnet_diagnostic.SA1022.severity=error
dotnet_diagnostic.SA1023.severity=error
dotnet_diagnostic.SA1024.severity=error
dotnet_diagnostic.SA1025.severity=error
dotnet_diagnostic.SA1026.severity=error
dotnet_diagnostic.SA1027.severity=error
dotnet_diagnostic.SA1028.severity=error
dotnet_diagnostic.SX1309.severity=silent
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion

[*.{cs,vb}]
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
end_of_line = crlf
[*.cs]
#### Стили именования ####

# Правила именования

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Спецификации символов

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Стили именования

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
csharp_space_around_binary_operators = before_and_after
csharp_indent_labels = flush_left

[*.vb]
#### Стили именования ####

# Правила именования

dotnet_naming_rule.interface_should_be_начинается_с_i.severity = suggestion
dotnet_naming_rule.interface_should_be_начинается_с_i.symbols = interface
dotnet_naming_rule.interface_should_be_начинается_с_i.style = начинается_с_i

dotnet_naming_rule.типы_should_be_всечастиспрописнойбуквы.severity = suggestion
dotnet_naming_rule.типы_should_be_всечастиспрописнойбуквы.symbols = типы
dotnet_naming_rule.типы_should_be_всечастиспрописнойбуквы.style = всечастиспрописнойбуквы

dotnet_naming_rule.не_являющиеся_полем_члены_should_be_всечастиспрописнойбуквы.severity = suggestion
dotnet_naming_rule.не_являющиеся_полем_члены_should_be_всечастиспрописнойбуквы.symbols = не_являющиеся_полем_члены
dotnet_naming_rule.не_являющиеся_полем_члены_should_be_всечастиспрописнойбуквы.style = всечастиспрописнойбуквы

# Спецификации символов

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.типы.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.типы.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.типы.required_modifiers = 

dotnet_naming_symbols.не_являющиеся_полем_члены.applicable_kinds = property, event, method
dotnet_naming_symbols.не_являющиеся_полем_члены.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.не_являющиеся_полем_члены.required_modifiers = 

# Стили именования

dotnet_naming_style.начинается_с_i.required_prefix = I
dotnet_naming_style.начинается_с_i.required_suffix = 
dotnet_naming_style.начинается_с_i.word_separator = 
dotnet_naming_style.начинается_с_i.capitalization = pascal_case

dotnet_naming_style.всечастиспрописнойбуквы.required_prefix = 
dotnet_naming_style.всечастиспрописнойбуквы.required_suffix = 
dotnet_naming_style.всечастиспрописнойбуквы.word_separator = 
dotnet_naming_style.всечастиспрописнойбуквы.capitalization = pascal_case

dotnet_naming_style.всечастиспрописнойбуквы.required_prefix = 
dotnet_naming_style.всечастиспрописнойбуквы.required_suffix = 
dotnet_naming_style.всечастиспрописнойбуквы.word_separator = 
dotnet_naming_style.всечастиспрописнойбуквы.capitalization = pascal_case
