@using DinoSoft.CuCounters.BlazorApp.Pages
@using DinoSoft.CuCounters.Domain.Model
@inject IRefreshService refreshService

<div class="container list-group-item text-white main-bg shadow">

  <div class="d-flex flex-row justify-content-between">
    <div class="text-left">
      @Model.Name
    </div>
    <div class="text-right align-top">
      <h6>@Model.LastUpdated?.ToString("t")</h6>
    </div>
  </div>

  <div class="row">
    <div class="col justify-content-start align-middle text-left">
      <h1 class="btn btn-lg btn-outline-light">@Model.Value</h1>
    </div>
    <div class="col align-middle justify-content-end align-self-center">
      <CounterButtonsElement Model="Model"/>
@*      @foreach (var counterAction in Model.CounterAction)
      {
        <button class="btn btn-outline-light align-middle" style="margin: 1px" @onclick="(() => ActCount(counterAction.Id))">@counterAction.Title</button>
      }*@
    </div>
  </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public Counter Model { get; set; }

    protected override async Task OnInitializedAsync()
	{
        refreshService.Add(this.GetType(), StateHasChanged);
	}

    private void ActCount(Guid actId)
    {
        Model.Act(actId);
    }
}
