@using DinoSoft.CuCounters.BlazorApp.Pages
@using DinoSoft.CuCounters.Common.Extensions
@using DinoSoft.CuCounters.Domain.Contracts.Model
@inject NavigationService navigationService

<div class="container list-group-item cuc-counter-bg cuc-text shadow" @onclick="NavigateToGroupPage">
    <div class="row justify-content-between" style="height:50px">
        <div class="col justify-content-start text-left">
            <h3 class="cuc-text">
                <i class="@CounterGroup.IconName cuc-style-2"/>
                @CounterGroup.Name
            </h3>
        </div>
@*        <div class="col-auto text-left cuc-text">
             <h3>@CounterGroup.Name</h3>
        </div>*@
    </div>

</div>

@code {
    [Parameter]
    public IGroup CounterGroup { get; set; }

    private RefreshToken refreshToken = new RefreshToken();

    protected override async Task OnInitializedAsync()
    {
        refreshToken.Add(StateHasChanged);
    }

    private void NavigateToGroupPage()
    {
        navigationService.NavigateTo(Links.GroupPage(CounterGroup.Id)); 
    }
}