@using DinoSoft.CuCounters.BlazorApp.Pages
@using DinoSoft.CuCounters.Common.Extensions
@using DinoSoft.CuCounters.Domain.Model
@inject NavigationService navigationService

<div class="container list-group-item cuc-bg cuc-text shadow" @onclick="NavigateToGroupPage">
    <div class="row justify-content-between" style="height:75px">
        <div class="col-2 justify-content-start text-left">
            <i style="font-size: 45px;" class="@CounterGroup.IconName cuc-style-2"/>
        </div>
        <div class="col-auto text-left cuc-text">
             <h3>@CounterGroup.Name</h3>
             <h5>3</h5>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public DinoSoft.CuCounters.Domain.Model.Group CounterGroup { get; set; }

    private RefreshToken refreshToken = new RefreshToken();

    protected override async Task OnInitializedAsync()
    {
        refreshToken.Add(StateHasChanged);
    }

    private void NavigateToGroupPage()
    {
        navigationService.NavigateTo(Links.GroupPage(CounterGroup.Id)); 
    }
}