@using DinoSoft.CuCounters.BlazorApp.Pages
@using DinoSoft.CuCounters.Domain.Model

<div class="container list-group-item text-white main-bg shadow">
    <div class="row" style="height:60px">
        <div class="col-2 justify-content-start align-middle text-left">
            <h2><i style="color: orangered" class="@Model.IconName"></i></h2>
            <h2>@Model.Value</h2>
        </div>
        <div class="col-4 align-middle text-left">
            <div class="text-left">@Model.Name</div>
            <h6>@Model.LastUpdated?.ToString("t")</h6>
        </div>
        <div class="col-6 align-middle justify-content-end align-self-center">
            <CounterButtonsElement Model="Model" RefreshToken="refreshToken"/>
        </div>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public Counter Model { get; set; }

    private RefreshToken refreshToken = new RefreshToken();

    protected override async Task OnInitializedAsync()
    {
        refreshToken.Add(StateHasChanged);
	}

    private void ActCount(Guid actId)
    {
        Model.Act(actId);
    }
}
