@using DinoSoft.CuCounters.Domain.Contracts.Model
@inject NavigationService navigationService

<div class="align-middle justify-content-end align-self-center">
    <div>
        @foreach (var counterAction in Model.CounterAction.Take(2))
        {
          var className = counterAction.ActionType == CuCounters.Data.Model.CounterActionType.Add ? "btn-success" : "btn-danger";
          <button style="margin: 4px 1px 0 1px" class="btn @className align-middle" @onclick="(() => ActCount(counterAction.Id))">@counterAction.Title</button>
        }
    </div>
    <div>
        <button style="margin: 4px 1px 0 1px;" class="btn btn-warning" @onclick="NavigateToCounterComponent"><i class="bi-gear"/></button>
    </div>
</div>

@code {
	// Demonstrates how a parent component can supply parameters
	[Parameter]
	public ICounter Model { get; set; }

	[Parameter]
	public RefreshToken RefreshToken { get; set; }

	private void ActCount(Guid actId)
	{
		Model.Act(actId);
		RefreshToken.Refresh();
	}

    private void NavigateToCounterComponent()
    {
        navigationService.NavigateTo($"counter-groups/{Model.CounterGroupId}/counters/{Model.Id}/edit");
    }
}
