@page "/counter-groups/{id:guid}"
@using DinoSoft.CuCounters.Domain.Model
@using DinoSoft.CuCounters.Domain.Infrastructure
@inject CounterGroupManager counterGroupManager
@inject NavigationManager NavigationManager

<LayoutView>
    <div class="container">
        <div class="row justify-content-between text-warning border-bottom border-warning header-bg" style="height:60px; padding:20px;">
            <div class="col-auto text-left">
               <h6 @onclick="NavigateBack">Назад</h6>
            </div>
            <div class="col-auto text-left">
               <h6 @onclick="NavigateBack">Добавить</h6>
            </div>
        </div>
    </div>

    <ol class="list-group d-flex justify-content-between ">
        @foreach (var group in group.Groups)
        {
            <li class="list-group-flush border-bottom border-secondary rounded scrollarea main-bg">
              <CounterGroupSliderElement Group=group/>
            </li>
        }
        @foreach (var counter in group.Counters)
        {
            <li class="list-group-flush border-bottom border-secondary rounded scrollarea main-bg">
              <CounterSliderElement Counter=counter/>
            </li>
        }
    </ol>
</LayoutView>


@code {

    [Parameter]
    public  Guid id { get; set; }

    private DinoSoft.CuCounters.Domain.Model.Group group;

    protected override async Task OnInitializedAsync()
    {
        group = await counterGroupManager.GetCounterGroup(id);
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo("");
    }
}