@page "/counter-groups/{CounterGroupId:guid}/counters/{Id:guid}/edit"
@using DinoSoft.CuCounters.BlazorApp.Infrastructure.Constants
@using DinoSoft.CuCounters.BlazorApp.Infrastructure.Helpers
@using DinoSoft.CuCounters.Domain.Model
@using DinoSoft.CuCounters.Domain.Infrastructure
@inject CounterManager counterManager
@inject NavigationManager NavigationManager

<LayoutView>
    <div class="container">
        <div class="row justify-content-between text-warning border-bottom border-warning header-bg" style="height:60px; padding:20px;">
            <div class="col-auto text-left">
               <h6 @onclick="NavigateBack">Назад</h6>
            </div>
            <div class="col-auto text-right">
               <h6 class="@canSaveClass" @onclick="Save">Сохранить</h6>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content text-white">
            @*https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-5.0*@
            <EditForm EditContext="@editContext">
                <DataAnnotationsValidator />
                <ValidationSummary />
                 <div class="col-auto text-center align-middle cuc-button-sub text-danger">
                      <i style="color: darkgray; font-size: 60px;" class="@BootStrapIconHelper.GetIcon(BootStrapIconsTypes.DashSquareFill)"/>
                 </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" style="margin:10px;" class="form-label">Имя</label>
                    <InputText id="name" class="form-control" @bind-Value="counter.Name" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" style="margin:10px;" class="form-label">Значение</label>
                    <InputNumber id="value" class="form-control" @bind-Value="counter.Value" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" style="margin:10px;" class="form-label">Иконка</label>
                    <InputText id="iconName" class="form-control" @bind-Value="counter.IconName" />
                </div>
               @* <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>*@
            </EditForm>
        </div>
    </div>
</LayoutView>

@code {

    [Parameter]
    public  Guid CounterGroupId { get; set; }

    [Parameter]
    public  Guid Id { get; set; }

    /// <summary> Счетчик. </summary>
    private Counter counter { get; set; }

    /// <summary> Контекст редактирования. /// </summary>
    private EditContext editContext;

    private bool canSave { get; set; } = false;
    private string canSaveClass => canSave ? string.Empty : "cuc-text-sub";

    protected override async Task OnInitializedAsync()
    {
        counter = await counterManager.GetCounter(Id);
        editContext = new EditContext(counter);
        editContext.OnFieldChanged += (_,__) => 
        { 
            canSave = editContext.Validate(); 
        };
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo(Links.CounterPage(CounterGroupId, Id));
    }

    private void Save()
    {
        if (!editContext.Validate())
        {
            return;
        }
        //Logger.LogInformation("HandleValidSubmit called");
        //save?
        NavigateBack();
        // Process the valid form
    }
}