@page "/counter-groups/{id:guid}"
@using DinoSoft.CuCounters.Domain.Model
@using DinoSoft.CuCounters.Domain.Infrastructure
@inject DataManager dataManager
@inject NavigationManager NavigationManager

<LayoutView>

    <div class="sidebar justify-content-start text-left">
        <button class="btn btn-primary" @onclick="NavigateToCounterComponent"> Open </button>
    </div>

    <ol class="list-group d-flex justify-content-between ">
    @foreach (var counter in CounterGroup.Counters)
    {
        <li class="list-group-flush border-bottom border-secondary rounded scrollarea main-bg">
          <CounterSliderElement Model=counter/>
        </li>
    }
</ol>
</LayoutView>


@code {

    [Parameter]
    public  Guid id { get; set; }

    private DinoSoft.CuCounters.Domain.Model.CounterGroup CounterGroup;

    protected override async Task OnInitializedAsync()
    {
        CounterGroup = dataManager.GetCounterGroups().First(x => x.Id == id);
    }

    private void NavigateToCounterComponent()
    {
        dataManager.SaveCurrent();
        NavigationManager.NavigateTo("");
    }
}