@page "/Counters"
@using DinoSoft.CuCounters.Domain.Model
@using DinoSoft.CuCounters.Domain.Infrastructure

<LayoutView>
<ol class="list-group d-flex justify-content-between ">
@foreach (var counter in mainData.Counters)
{
  <li class="list-group-flush border-bottom border-secondary rounded scrollarea main-bg">
	  <CounterElement Model=counter/>
  </li>
}
</ol>
</LayoutView>



@code {
	private MainData mainData;

	protected override async Task OnInitializedAsync()
	{
		var mainDataManager = new MainDataManager();
		mainData = mainDataManager.Get();
	}
}