@page "/counter-groups/{CounterGroupId:guid}/counters/{Id:guid}"
@using DinoSoft.CuCounters.Domain.Model
@using DinoSoft.CuCounters.Domain.Infrastructure
@inject CounterGroupManager counterGroupManager
@inject NavigationManager NavigationManager

<LayoutView>
     <div class="d-flex text-warning border-bottom border-warning header-bg" style="height:60px; padding:20px;">
         <div class="row justify-content-between">
            <h6 class="col col-auto text-left" @onclick="NavigateBack">Назад</h6>
            <h6 class="col col-auto text-right" @onclick="NavigateEdit">Редактировать</h6>
         </div>
     </div>

    <div class="content text-white">
        <h3>Редактировать</h3>

      
    </div>
</LayoutView>



@code {

    [Parameter]
    public  Guid CounterGroupId { get; set; }

    [Parameter]
    public  Guid Id { get; set; }

    public Counter counter { get; set; }

    protected override async Task OnInitializedAsync()
    {
        counter = (await counterGroupManager.GetCounterGroups()).First(x => x.Id == CounterGroupId).Counters.First(x => x.Id == Id);
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo(Links.CounterGroupPage(CounterGroupId));
    }

    private void NavigateEdit()
    {
         NavigationManager.NavigateTo(Links.CounterEditPage(CounterGroupId, Id));
    }
}