@page "/"
@using DinoSoft.CuCounters.Domain.Contracts.Infrastructure
@using DinoSoft.CuCounters.Domain.Contracts.Model
@inject IGroupManager groupManager
@inject NavigationService navigationService

<LayoutView>
@*    <div class="container">
        <div class="row justify-content-between text-warning border-bottom border-warning header-bg" style="height:60px; padding:20px;">
            <div class="col-auto text-left">
               <h6 >Добавить</h6>
            </div>
        </div>
    </div>

    <ol class="list-group d-flex justify-content-between ">
        @foreach (var counterGroup in counterGroup.Groups)
        {
            <li class="list-group-flush border-bottom border-secondary rounded scrollarea main-bg">
              <CounterGroupSliderElement CounterGroup=counterGroup/>
            </li>
        }
        @foreach (var counter in counterGroup.Counters)
        {
            <li class="list-group-flush border-bottom border-secondary rounded scrollarea main-bg">
              <CounterSliderElement Counter=counter/>
            </li>
        }
    </ol>*@
</LayoutView>


@code {
    private IGroup counterGroup;

    protected override async Task OnInitializedAsync()
    {
        var group = await groupManager.GetRootCounterGroup();
        navigationService.NavigateTo(Links.GroupPage(group.Id));
    }
}